.btn {
    min-width: 64px;
    border: none;
    background-color: $brand-color;
    color: white;
    letter-spacing: 1px;
    padding: 0 20px;
    border-radius: 20px;
    @include bold(18px, 36px);
}

.btn-link {
    @include regular(16px, 18px);
    color: $brand-color;
    border-bottom: 1px dotted $brand-color;
}