$compatible-fonts: Helvetica, Arial, sans-serif;
$rhythm-unit: "px";

$base-text-color: rgba(0, 0, 0, .87);
$inaccent-text-color: rgba(0, 0, 0, .54);
$accent-text-color: #0091EA;
$fill-background-color: #F9F9F9;

$base-border-color: #ccc;
$accent-border-color: #E64A19;

$accent-background-color: $accent-border-color;
$header-background-color: rgba(21, 21, 23, .95);

$screen-min-width-small: 768px;
$screen-min-width-mid: 1000px;
$screen-min-width-large: 1210px;
$screen-min-width-xlarge: 1920px;

$brand-color: #3A3897;
$brand-gradient: linear-gradient(45deg, #3A3897, #A3A1FF);

$aside-fill-color: #F5F5F5;
$user-header-gradient: linear-gradient(180deg, #3A3897, #A3A1FF);
//linear-gradient(180deg, #77AAAC, #9CC2C0);

$status-connected: #43A047;
$status-disconnected: #757575;

$icon-color: #605F5E;
$mais-border-color: #9E9E9E;

$text-color-1: rgba(0, 0, 0, .72);
$text-color-2: #79ADDC;
$text-color-3: #FFC09F;
$text-color-accent: #605F5E;

$contact-selected-fill-color: #79ADDC;
$messenger-fill-color: transparentize($color: #79ADDC, $amount: .9);

$message-outbox-fill: #D3E2F0;
$message-inbox-fill: #FAEDE7;

$btn-default-color: #A3A3A3;
$btn-primary-color: $brand-color;

$scroll-thumb-color: #D3E2F0;

// 79ADDC 605F5E FFC09F