.cabinet {
    //position: relative;

    &__aside {
        position: absolute;
        width: 420px;
        height: 100%;
        z-index: 1000;
        background-color: $aside-fill-color;
        @include box-shadow(
            0 0 1px $base-border-color
        );
        //border-right: 1px solid ;
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-left: 420px;
        background-color: $fill-background-color;
    }

    &__menu {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 30px;
        background-color: white;

        .menu-item {
            position: relative;
            height: 25px;
            cursor: pointer;
            margin-right: 35px;

            &.to-end {
                margin-left: auto;
            }

            &:last-child {
                margin-right: 0;
            }

            &__icon {
                width: 25px;
                height: 25px;
            }

            &:hover,
            &_active {
                .menu-item__icon {
                    fill: $brand-color;
                }
            }
        }
    }
}

.user {
    position: relative;
    padding: 30px 30px 72px;
    background-image: $user-header-gradient;

    &__name {
        text-align: center;

        &-text {
            @include bold(28px, 82px);
            color: white;
            text-transform: uppercase;
        }
    }

    &__avatar {
        position: absolute;
        width: 82px;
        height: 82px;
        left: 50%;
        border-radius: 50%;
        z-index: 1000;
        @include translateX(-50%);
        @include box-shadow(
            0 1px 4px rgba(0, 0, 0, .19)
        );

        .avatar__image {
            width: 100%;
            height: 100%;
            border: 10px solid white;
        }

        .avatar__status {
            position: absolute;
            width: 15px;
            height: 15px;
            padding: 4px;
            border-radius: 50%;
            background-color: white;
            top: 0; right: -10px;
            @include box-shadow(
                0 1px 4px rgba(0, 0, 0, .19)
            );

            &::after {
                position: absolute;
                content: "";
                width: 7px; height: 7px;
                border-radius: 50%;
            }
        }

        &.status-connected {
            .avatar__status::after {
                background-color: $status-connected;
            }
        }
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 82px;
        left: 0; bottom: 0;
        background-image: image-url("waves.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 10px;
    }
}

.avatar {
    .avatar__image {
        border-radius: 50%;
    }
}

.menu-item {
    display: inline-block;
}

.icon {
    fill: $icon-color;
    @include transition(fill 200ms ease-in);
}

.book-spinner {
    padding: 200px 30px;
    display: block;
    text-align: center;
    @include extra-bold(20px, 72px);
}

.book {
    position: relative;

    &__header {
        padding: 0 30px;
        @include bold(20px, 72px);
        color: $brand-color;
    }
}

.search-box {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: white;

    &__input {
        width: 100%;
        height: 50px;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0 70px;
        @include bold(20px, 52px);
        border-bottom: 2px solid $mais-border-color;
    }

    .button-back,
    .button-go {
        position: absolute;
        display: inline-block;
        height: 25px;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        top: 50%;
        @include translateY(-50%);

        .icon {
            width: 25px;
            height: 25px;
        }
    }

    .button-back {
        left: 30px;
    }

    .button-go {
        right: 30px;
    }
}

@import "../components/contact";
@import "../components/screen";

.messenger {
    position: absolute;
    width: 100%;
    height: 100%;
}

.contact-header {
    padding: 0 45px;
    background-color: $text-color-2;

    .contact__title {
        @include bold(22px, 72px);
        margin: 0;
        color: white;
    }

    .contact__status {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: white;
        vertical-align: middle;
        border-radius: 50%;
        margin-left: 10px;
        padding: 4px;
        @include box-shadow(
            0 1px 4px rgba(0, 0, 0, .19)
        );

        &::after {
            position: absolute;
            content: "";
            width: 7px; height: 7px;
            background-color: $text-color-2;
            border-radius: 50%;
        }
    }
}